{% extends 'core/base.html' %}

{% load bootstrap_field %}

{% block title %}{% if instance %}New{% else %}Edit{% endif %} Patient{% endblock %}

{% block yield %}
<div class="container">
    <div class="row">
        <div class="span6 offset3" id="form">
            <h1>{% if instance %}New{% else %}Edit{% endif %} Patient</h1>
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in patient_form %}
                {% bootstrap_field field %}
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% if instance %}Update{% else %}Add{% endif %}</button>
                    <a href="{% url core:home %}" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
