{% extends 'core/base.html' %}

{% block title %}Patients{% endblock %}

{% block yield %}
<h1>Patients</h1>
<table class="table table-striped table-bordered table-condensed">
    <thead><tr>
        <th width='20%'>Patient name</th>
        <th width='20%'>Cell phone</th>
        <th width='10%'>Consent</th>
        <th width='10%'>Status</th>
        <th width='20%'>Appointments</th>
        <th width='20%'>Notes</th>
    </tr></thead>
    <tbody>
    {% for patient in patient_list %}
    <tr>
        <td><a href='edit/{{patient.id}}'>{{ patient.name }}</a></td>
        <td>{{ patient.cell }}</td>
        <td>
            {% for k, v in consent_choices.items %}
            {% ifequal k|stringformat:"s" patient.consent_status|stringformat:"s" %}
            {{ v }}<br>
            {% endifequal %}
            {% endfor %}
        </td>
        <td>
            {% for k, v in status_choices.items %}
            {% ifequal k|stringformat:"s" patient.status|stringformat:"s" %}
            {{ v }}<br>
            {% endifequal %}
            {% endfor %}
        </td>
        <td><a href="/reminders/recent-appointments">All appointments</a></td>
        <td>{{ patient.notes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div id="loader" class="container">
    <div class="row">
        <div class="span2 offset5">
            <img src="/static/core/img/loader.gif" alt="Loader">
        </div>
    </div>
</div>
{% endblock %}
