{% extends 'core/base.html' %}
{% load bootstrap_form %}
{% load bootstrap_field %}
{% load dajaxice_templatetags %}

{% block title %}Patients{% endblock %}

{% block yield %}
<h1>Patients</h1>
<table class="table table-striped table-bordered table-condensed">
    <thead><tr>
        <th width='30%'>Patient</th>
        <th width='30%'>Reminders</th>
        <!--
        <th width='40%'>Actions</th>
        -->
    </tr></thead>
    <tbody>
    {% for patient in patient_list %}
    <tr>
        <td><a href='edit/{{patient.id}}'>{{ patient.name }}, {{ patient.cell }}</a></td>
        <td>
            <table><tbody>
            {% for appointment in appointment_list %}
                <tr>
                    <td><a href='edit/{{appointment.id}}'>{{ appointment.date|date:"F j, Y" }} {{ appointment.time }}</a>
                        {% for reminder in appointment.appointment_reminders.all %}
                            <div class='badge'>{{ reminder.description }}</div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody></table>
        </td>
        <!--
        <td>
            <form action="{% url reminders:home %}" method="post" class="form-horizontal">{% csrf_token %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    {% bootstrap_form appointment_form %}
                </div>

                <div class="control-group{% if field.errors %} error{% endif %}">
                    {% bootstrap_form reminder_form %}

                    <div class="controls">
                    </div>
                </div>
                <button type="submit" class="btn">Add Reminder</button>
            </form>
        </td>
        -->
    </tr>
    {% endfor %}
    </tbody>
</table>
<div id="loader" class="container">
    <div class="row">
        <div class="span2 offset5">
            <img src="/static/core/img/loader.gif" alt="Loader">
        </div>
    </div>
</div>
{% endblock %}
