{% extends 'core/base.html' %}

{% block title %}{{block.super}} - Active surveys{% endblock %}

{% block javascript %}

<script>
    var time = new Date().getTime();

    function refresh() {
        if(new Date().getTime() - time >= 6000)
            window.location.reload(true);
        else
            setTimeout(refresh, 1000);
    }

    setTimeout(refresh, 1000);
</script>

{% endblock %}

{% block yield %}

<div class="row-fluid show-grid" >
    <div class="span8 ">
        {% for question in active_questions_with_choices %}
            <div class="header">
                <h3>{{question.question.title}}</h3>
                <em>{{question.question.text}}</em>
                <!--
                <div class="date">Asked on {{question.question.created_on|date}}</div>
                <div>Valid between: {{ question.question.start|date:"F j, Y H:i" }} and {{ question.question.end|date:"F j, Y H:i" }}</div>
                -->
            </div>

            <table class="table table-striped table-bordered table-condensed">
                <thead><tr>
                    <th width='40%'>Options</th>
                    <th width='30%'>Text code to <strong>{{ sms_to }}</strong></th>
                    <th width='30%'>Results</th>
                </tr></thead>
                <tbody>
                    {% for choice in question.choices %}
                        <tr>
                            <td>{{ choice.text }}</td>
                            <td>{{ choice.simple_code }}</td>
                            {% if forloop.first %}
                            <td rowspan="{{ question.choices.count }}">
                                {% if question.chart %} <img src={{question.chart}} /> {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    <div class="span4 ">
        {% for message in feedback %}
        <div class="well"> {{ message.message }} </div>
        {% endfor %}
    </div>
</div>
{% endblock %}