{% extends 'core/base.html' %}

{% block title %}Survey creator{% endblock %}

{% block yield %}
    <h3>Recent surveys</h3>
    <div class="content">
        <ul class="linklist">
            {% for poll in recent_polls %}
            <li class="first"><a href="{{poll.get_absolute_url}}">{{poll.title}}</a></li>
            {% endfor %}

        </ul>
    </div>
    <h3>Your surveys</h3>
    <div class="content">
        <ul class="linklist">
            {% for poll in your_polls %}
            <li class="first"><a href="{{poll.get_absolute_url}}">{{poll.title}}</a></li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}