{% extends 'survey/base.html' %}

{% block content %}
			<div class="post">
				<div class="header">
					<h3>TXT4HLTH Survey</h3>
				</div>
				<p>
                    TXT4HLTH Survey is a super simple polling system. You create a survey and can link to that survey from any place. Anyone can reply to your surveys using SMS. <em>No registration necessary</em>
				</p>
				<p>
					So we call it Poll n go! What are you waiting for? <a href="{% url survey:survey_create %}">Create a poll.</a>
				</p>
			</div>
{% endblock %}
