{% extends 'core/base.html' %}

{% block title %}{{block.super}} - {{question.title}}{% endblock %}

{% block yield %}

    <div class="post">
        <div class="header">
            <h3>Poll: {{question.title}}</h3>
            <em>{{question.text}}</em>

            <div class="date">Asked on {{question.created_on|date}}</div>
            <div>Valid between: {{ question.start|date:"F j, Y H:i" }} and {{ question.end|date:"F j, Y H:i" }}</div>
        </div>
        <div class="content">
            {% if last_choice %}
                <p>Your last choice was <strong>{{last_choice.text}}</strong>.<br />
                Would you like to modify it?
                </p>
            {% endif %}

            <form action="" method="post">
                <div class="control-group">
                    <div class="controls">
                        {% for choice in choices %}
                            <label class="radio">
                                <input type="radio" name="choices" value="{{choice.id}}"><strong>{{choice.text}}</strong> or Text <strong>{{ choice.simple_code }}</strong>
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Answer Poll" name="submit" />
                or send SMS to <strong>{{ sms_to }}</strong>
            </form>

            <a href="{{ question.get_results_url }}">See results</a>
        </div>
    </div>
{% endblock %}