{% load bootstrap_form %}
{% load bootstrap_field %}
{% load dajaxice_templatetags %}

{% dajaxice_js_import %}

<script language="JavaScript">
    function my_js_callback(data){
        if(data==Dajaxice.EXCEPTION){
            alert('Error! Something happens!');
        }
        else{
            alert(data.message);
        }
    }
</script>

<div class="modal fade" id="new-reminder">
    <div class="modal-header">
        <h3>{% if instance %}Update{% else %}Add{% endif %} Reminder</h3>
    </div>
    <form action="{% url reminders:new-reminder %}" method="post" class="form-horizontal">{% csrf_token %}
        <div class="modal-body">

            <div class="control-group{% if field.errors %} error{% endif %}">
                {% bootstrap_form patient_form %}

                <div class="controls">
                    <input id="button_request_consent_id" type="button" value="Request Consent" onclick="send_form();" class="btn disabled">
                    <input id="button_deactivate_id" type="button" value="Deactivate" onclick="send_form();" class="btn disabled">
                </div>
            </div>

            <div class="control-group{% if field.errors %} error{% endif %}">
                {% bootstrap_form appointment_form %}

                <div class="controls">
                    <input id="button_reschedule_id" type="button" value="Reschedule" onclick="Dajaxice.example.myexample(my_js_callback);" class="btn ">
                    <input id="button_cancel_id" type="button" value="Cancel" onclick="Dajaxice.example.myexample(my_js_callback);" class="btn ">
                </div>
            </div>

            <div class="control-group{% if field.errors %} error{% endif %}">
                {% bootstrap_form reminder_form %}

                <div class="controls">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{% if instance %}Update{% else %}Add{% endif %}</button>
            <a href="#new-reminder" data-toggle="modal" class="btn">Cancel</a>
        </div>
    </form>
</div>
